body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

.container, 
.header, ul, 
.main-container, 
.middle-container,
.boxes,
.subtext,
.main-quote,
.quote-author,
.bottom-container,
.footer,
.signup{
    display: flex;
}

.main-container, .boxes, .bottom-container, .footer, .signup{
    justify-content: center;
}

button{
    font-size: 18px;
    font-weight: 900;
    background-color: #3882f6;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.container{
    flex: 1;
    flex-direction: column;
}

.header {
    justify-content: space-between;
    padding: 16px;
    background-color: #1f2937;
    color: #fff;
}

.header-left {
    font-size: 24px;
    font-weight: 900;
}

.header-right, p {
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #fff;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

img {
    width: 100%
}

.main-container {
    background-color: #1f2937;
    color: #fff;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

.main-left {
    width: 450px;
    margin: 20px 0;
}

.middle-container {
    flex-direction: column;
    align-items: center;
}

.middle-text {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
}

.boxes{
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px 20px;
    
}

.box{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.subtext{
    text-align: center;
    width: 150px;
    margin: 20px 0;
}

.quote-container{
    background-color: #e5e7eb;
    padding: 100px;
}

.main-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 10px;
    text-align: center;
}

.quote-author{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    justify-content: flex-end;
}

.bottom-container{
    background-color: #3882f6;
    border: 5px solid #3882f6;
    border-radius: 10px;
    gap: 30px;
    margin: 100px;
    padding: 20px 100px;
    flex-shrink: 0;
    align-items: center;
    flex-wrap: wrap;
}

.footer{
    color: #fff;
    font-size: 18px;
    background-color: #1f2937;
    padding: 16px;
}

.signup{  
    border-color: #fff;
    align-items: center;
    flex-shrink: 0;
}

.bottom-main-text{
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 5px;
}

.bottom-subtext{
    color: #fff;
    font-size: 18px;
    margin-top: 0;
}

.box-img{
    border-radius: 5px;
    width: 100%;
}